<!doctype html>
<html lang="{{ app.locale }}">
<head>
    <style>
        body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        #voyager {
            height: 100vh;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/voyager.css') }}"/>
    <script src="{{ asset('assets/voyager.js') }}"></script>
    <title>{{ title|trans }}</title>
</head>
<body>
<div id="voyager">{{ loading|trans }}</div>
<script type="module" src="{{ asset('assets/app.js') }}" data-endpoint="{{ endpoint }}" data-elemid="voyager"></script>
</body>
</html>